<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />
  <title>@title</title>
  <meta name="description" content="@description" />
  <link rel="shortcut icon" href="favicon.svg" type="image/svg" />

  <link rel="preload" href="fonts/Inter-Light.woff2" as="font" crossorigin="anonymous" />
  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous" />
  <link rel="preload" href="fonts/Inter-Medium.woff2" as="font" crossorigin="anonymous" />
  <link rel="preload" href="fonts/Inter-SemiBold.woff2" as="font" crossorigin="anonymous" />

  <link rel="preload" href="fonts/TTHoves-Medium.woff2" as="font" crossorigin="anonymous" />

  <link rel="stylesheet" href="styles/vendor.css" media="screen" />
  <link rel="stylesheet" href="styles/main.css" media="screen" />

  <script defer src="scripts/main.js"></script>
</head>
