// Base
$font-family: "GolosText", sans-serif;
$container-offset: 72px;
$content-width: calc(1222px + $container-offset * 2);
$font-size: 20px;
$line-height: 24px;

// Colors
$color-red: #f54932;
$color-text: #313131;
$color-disable--grey: #d6d6d6;
$color-bullet--grey: #d9d9d9;
$color-logo: #595653;
$color-btn--dark: #1f1f1f;
$color-btn--white: #ffffff;
$color-btn--yellow: #fbce51;
$color-table--border: #d0d0d0;
$color-blue: #3057a2;
$color-footer--bg: #e9ded4;
