<header class="header">
  <div class="header__container container">
    <a href="/" class="header__logo">
      <img src="/images/logo.svg" alt="логотип Alpha marketing" />
    </a>
    <a href="tel:+78124095222" class="header__phone">8 812 409-52-22</a>
    <div class="header__burger">
      <button class="burger btn-reset">
        <div class="burger__line"></div>
      </button>
    </div>
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link" href="#services">услуги</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#cases">кейсы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#more">ЕЩЁ</a>
        </li>
      </ul>
    </nav>
    <label class="header__search search">
      <input class="search__input input-reset" type="search" />
    </label>
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <a href="/services" class="breadcrumbs__link">Услуги Альфа маркетинг</a>
        </li>
        <li class="breadcrumbs__item">
          <a href="/crm" class="breadcrumbs__link">CRM</a>
        </li>
      </ul>
    </div>
  </div>
</header>
