<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />
  <title>@title</title>
  <meta name="description" content="@description" />
  <link rel="shortcut icon" href="favicon.svg" type="image/svg" />

  <link
    rel="preload"
    href="fonts/GolosText-Regular.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/GolosText-Medium.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/GolosText-SemiBold.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/GolosText-Bold.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/Merriweather-Regular.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/Merriweather-Bold.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <!-- <link rel="preload" href="fonts/Roboto-Regular.woff2" as="font" crossorigin="anonymous"/> -->

  <link rel="stylesheet" href="styles/vendor.css" media="screen" />
  <link rel="stylesheet" href="styles/main.css" media="screen" />

  <script defer src="scripts/main.js"></script>
</head>
