// Base
$font-family: "Lato", sans-serif;
$content-width: 1440px;
$content1600-width: 1278px;
$container-offset: 20px;
$container: $content-width + $container-offset * 2;
$font-size: 16px;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #231815;
$color-grey: #f5f5f5;
$color-accent: #e45302;
$color-disable: #808080;
$color-footer: #0c0c0c;
$color-burger: #0d0b26;
