@font-face {
	font-family: Font;
	font-display: swap;
	src: url("../fonts/Font-Regular.woff2") format("woff2"),
	url("../fonts/Font-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
