<footer class="footer">
  <div class="footer__container container">
    <ul class="footer__list list-reset">
      <li class="footer__item logo">
        <a href="#" class="logo__link">
          <svg class="logo__icon">
            <use xlink:href="images/sprite.svg#logofooter"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item address">
        <h4 class="address__title">Адрес</h4>
        <address class="address__content">Текст, Текст, Текст</address>
      </li>
      <li class="footer__item services">
        <h4 class="services__title">Услуги</h4>
        <ul class="services__list list-reset">
          <li class="services__item">
            <a href="#">Каталог</a>
          </li>
          <li class="services__item">
            <a href="#">О компании</a>
          </li>
          <li class="services__item">
            <a href="#">Контакты</a>
          </li>
          <li class="services__item">
            <a href="#">Доставка и оплата</a>
          </li>
          <li class="services__item">
            <a href="#">Гарантия и возврат</a>
          </li>
        </ul>
      </li>
      <li class="footer__item docs">
        <a class="docs__link" href="#">Публичная оферта</a>
        <a class="docs__link" href="#">Политика персональных данных</a>
      </li>
      <li class="footer__item captcha">
        <p class="captcha__text">
          Этот сайт защищен от спама службой reCAPTCHA Google.
          <a class="captcha__link" href="#">Политика конфиденциальности</a>/<a class="captcha__link" href="#">Условия предоставления услуг</a>
        </p>
      </li>
      <li class="footer__item contacts">
        <h4 class="contacts__title">Контакты</h4>
        <p>
          Email:
          <a href="mailto:urban.dwelling@yandex.com"> urban.dwelling@yandex.com</a>
        </p>
        <p>
          Телефон:
          <a href="tel:+79999999999"> 8&nbsp;(999)&nbsp;999&#8209;99&#8209;99</a>
        </p>
      </li>
      <li class="footer__item banks">
        <ul class="banks__list list-reset">
          <li class="banks__item">
            <svg class="banks__icon">
              <use xlink:href="images/sprite.svg#mir"></use>
            </svg>
          </li>
          <li class="banks__item">
            <svg class="banks__icon">
              <use xlink:href="images/sprite.svg#visa"></use>
            </svg>
          </li>
          <li class="banks__item">
            <svg class="banks__icon">
              <use xlink:href="images/sprite.svg#mastercard"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
