<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo">
      <svg class="header__logo-icon">
        <use xlink:href="images/sprite.svg#logo"></use>
      </svg>
    </a>
    <button class="header__open-btn btn-reset">
      <span></span>
    </button>
    <div class="header__menu">
      <div class="header__services">
        <ul class="header__services-list list-reset">
          <li class="header__services-item">
            <a href="#" class="header__services-link">Доставка и оплата</a>
          </li>
          <li class="header__services-item">
            <a href="#" class="header__services-link">Гарантия и возврат</a>
          </li>
          <li class="header__services-item">
            <button class="header__services-btn btn-reset">EN</button>
          </li>
        </ul>
      </div>
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a class="nav__link" href="#">Каталог</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">О компании</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <label class="header__search">
        <button class="header__search-btn btn-reset">
          <svg class="header__search-icon">
            <use xlink:href="images/sprite.svg#search"></use>
          </svg>
        </button>
        <input class="header__search-input" type="search" placeholder="Лампы" />
      </label>
      <button class="header__cart btn-reset">
        <span>
          <svg class="header__cart-icon">
            <use xlink:href="images/sprite.svg#cart"></use>
          </svg>
        </span>
        <span class="header__cart-text">Корзина</span>
      </button>
    </div>
  </div>
</header>
