@media (min-width: 1024px) {
  a,
  button {
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }

    &:focus-visible {
      outline: 3px solid $color-btn__bg;
    }
  }
}
