// Base
$font-family: "Inter", sans-serif;
$container-offset: 3%;
$content-width: calc(1792px + $container-offset * 2);
$font-size: 16px;
$line-height: 112%;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-text: #1f2020;
$color-btn__bg: #7bb899;
$color-btn__bg-disable: #f2f2f2;
